extends layout

block content
  .auth-container
    h2.text-center.text-white.mb-4 Sign Up / Login

    .row.justify-content-center
      .col-md-5.bg-light.p-4.rounded.shadow-sm
        h3.text-center.text-danger Sign Up
        form(action='/signup', method='post')
          .form-group
            label(for='username') Username
            input.form-control(type='text', name='username', placeholder='Enter your username', required)
          .form-group
            label(for='email') Email
            input.form-control(type='email', name='email', placeholder='Enter your email', required)
          .form-group
            label(for='password') Password
            input.form-control(type='password', name='password', placeholder='Create a password', required)
          button.btn.btn-danger.btn-block(type='submit') Create Account

      .col-md-1.d-none.d-md-block
        // spacer column

      .col-md-5.bg-light.p-4.rounded.shadow-sm
        h3.text-center.text-danger Login
        form(action='/login', method='post')
          .form-group
            label(for='email') Email
            input.form-control(type='email', name='email', placeholder='Enter your email', required)
          .form-group
            label(for='password') Password
            input.form-control(type='password', name='password', placeholder='Enter your password', required)
          button.btn.btn-danger.btn-block(type='submit') Login
