doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-expand-md.navbar-dark(style='background-color:#a30000;')
      .container
        a.navbar-brand(href='/') CareerCompass
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        #navbarMain.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/auth') Sign Up / Login
            li.nav-item
              a.nav-link(href='/dashboard') User Dashboard
            li.nav-item
              a.nav-link(href='/roadmap') Career Roadmap
            li.nav-item
              a.nav-link(href='/resume-tools') Resume Tools
            li.nav-item
              a.nav-link(href='/about') About Us
            li.nav-item
              a.nav-link(href='/contact') Contact Us

    .container.content.mt-5.pt-4
      block content

    footer.text-center.mt-4
      p © 2025 CareerCompass. All rights reserved.

      // JS scripts
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', crossorigin='anonymous')
      script(src='/javascripts/bootstrap.min.js')
